{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "globals": {
    "describe": true,
    "it": true,
    "beforeEach": true,
    "afterEach": true,
    "jest": true,
    "expect": true,
    "xit": true,
    "beforeAll": true,
    "afterAll": true
  },
  rules: {
    "no-unused-expressions": "off",
    "no-console": "off"
  }
}
